// GLOBAL

/* CHARSET */
@charset "UTF-8";

/* HTML & BODY */
html,
body {
width: 100%;
height: 100%;
}

/* HTML */
html {
position: relative;
min-height: 100%;
}

/* BODY */
body {
font-family: $body-font;
overflow-x: hidden;
margin: 0;  
}





/* HEADLINES */
h1, h2, h3, h4 {
margin: 0;  
}

h1 {
@include font-mix ($white, $body-font, 1.5rem, 1.2, 300, none); 
  @media only screen and (min-device-width:576px){ 
  font-size: 1.75rem; 
  }
  @media only screen and (min-device-width:768px){ 
  font-size: 2rem;  
  }
  @media only screen and (min-device-width:1200px){ 
  font-size: 2.75rem;  
  }
  @media only screen and (min-device-width:1336px){ 

  }
  @media only screen and (min-device-width:1440px){ 

  }
  @media only screen and (min-device-width:1920px){ 

  }
  @media only screen and (min-device-width:2500px){ 

  }     
}

h2 {
@include font-mix ($white, $body-font, 1.25rem, 1.2, 600, none);  
  @media (min-width: 576px) {
  font-size: 1.5rem;
  }
  @media (min-width: 768px) {
  font-size: 1.75rem;
  }
  @media (min-width: 992px) {
  font-size: 1.75rem;
  }
  @media (min-width: 1200px) {
  font-size: 1.75rem;
  } 
}

h3 {
@include font-mix ($black, $body-font, 1rem, 1.2, 600, none);
    @media (min-width: 576px) {
    font-size: 1.25rem;
    }
    @media (min-width: 768px) {
    font-size: 1.5rem;
    }
    @media (min-width: 992px) {
    font-size: 1.5rem;
    }
    @media (min-width: 1200px) {
    font-size: 1.5rem;
    } 
}

h4 {
@include font-mix ($black, $body-font, 0.85rem, 1.2, 600, none);
    @media (min-width: 576px) {
    font-size: 1rem;
    }
    @media (min-width: 768px) {
    font-size: 0.85rem;
    }
    @media (min-width: 992px) {
    font-size: 0.85rem;
    }
    @media (min-width: 1200px) {
    font-size: 0.85rem;
    } 
}

/* PARAGRAPHS */
p {
@include font-mix ($gray-600, $body-font, 0.9rem, 1.3, 400, none);
    @media (min-width: 576px) {
    font-size: 0.9rem;
    }
    @media (min-width: 768px) {
    font-size: 1rem;
    }
    @media (min-width: 992px) {
    font-size: 1rem;
    }
    @media (min-width: 1200px) {
    font-size: 1rem;
    }           
}

/* SMALL */

.small, small {
font-size: 90%;  
}
/* LISTS */
ul {  
margin: 0;
padding: 0;
}

/* LINKS */
a { 
outline: 0;
@include transition (all, 0.3s, linear);
  &:hover { 
  text-decoration: none;
  color: $primary-color;
  }
  &:focus, &:active {
  text-decoration: none;
  outline: 0;   
  }     
}

/* BUTTONS */
.btn { 
letter-spacing: 1px;
line-height: 1;
@include transition (all, 0.35s, linear);   
    &:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;    
        &:active {
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        }
    }
}

.btn-eo-fb {
@include button (
$body-font, 0.85em, 1, 500, center, none,
0.85em, 1em,
0px, 0.25em,
$white !important, $fb-color, transparent,
$white !important, darken( $fb-color, 10% ), transparent,
$white !important, lighten( $fb-color, 3% ), transparent,
$white !important, lighten( $fb-color, 3% ), transparent
);
  @media (min-width: 576px) {
  font-size: 0.85em;
  padding: 0.85em 1em;
  }   
  @media (min-width: 768px) {
  font-size: 0.85em;
  padding: 0.85em 1em;  
  }
  @media (min-width: 992px) {
  font-size: 0.85em;
  padding: 0.85em 1em;  
  }
  @media (min-width: 1200px) {
  font-size: 0.85em;
  padding: 0.85em 1em; 
  }   
} 
.btn-eo-tw {
@include button (
$body-font, 0.85em, 1, 500, center, none,
0.85em, 1em,
0px, 0.25em,
$white !important, $tw-color, transparent,
$white !important, darken( $tw-color, 10% ), transparent,
$white !important, lighten( $tw-color, 3% ), transparent,
$white !important, lighten( $tw-color, 3% ), transparent
);
  @media (min-width: 576px) {
  font-size: 0.85em;
  padding: 0.85em 1em;
  }   
  @media (min-width: 768px) {
  font-size: 0.85em;
  padding: 0.85em 1em;  
  }
  @media (min-width: 992px) {
  font-size: 0.85em;
  padding: 0.85em 1em;  
  }
  @media (min-width: 1200px) {
  font-size: 0.85em;
  padding: 0.85em 1em; 
  }   
}
.btn-eo-dr {
@include button (
$body-font, 0.85em, 1, 500, center, none,
0.85em, 1em,
0px, 0.25em,
$white !important, $dr-color, transparent,
$white !important, darken( $dr-color, 10% ), transparent,
$white !important, lighten( $dr-color, 3% ), transparent,
$white !important, lighten( $dr-color, 3% ), transparent
);
  @media (min-width: 576px) {
  font-size: 0.85em;
  padding: 0.85em 1em;
  }   
  @media (min-width: 768px) {
  font-size: 0.85em;
  padding: 0.85em 1em;  
  }
  @media (min-width: 992px) {
  font-size: 0.85em;
  padding: 0.85em 1em;  
  }
  @media (min-width: 1200px) {
  font-size: 0.85em;
  padding: 0.85em 1em; 
  }   
}

/* TEXTAREA */