// VARIABLES


/* FONT FAMILY */

$body-font: 'Roboto', sans-serif;



/* COLORS */

$primary-color: #ff5e3a; /* orange */
$secondary-color: #38a9ff; /* tirquise */
$tertiary-color: #7c5ac2; /* violet */
$tertiary-color: #7c5ac2; /* violet */
$quaternary-color: #08ddc1; /* mint */
$quinary-color: #ffc923; /* yellow */


$fb-color: #2f5b9d;
$tw-color: #38bff1;
$dr-color: #f74881;


/* BLACK --> GRAY --> WHITE */

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


