// MIXINS

/* FONT */

@mixin font-mix ($color, $font-family, $font-size, $line-height, $font-weight, $text-transform) {
color: $color;
font-family: $font-family;  
font-size: $font-size;
line-height: $line-height;
font-weight: $font-weight;
text-transform: $text-transform;
}

/* 
@include font-mix (
$color,
$font-family, 
$font-size, 
$line-height, 
$font-weight, 
$text-transform );

@include font-mix ($gray-darker, $body-font, 15px, 1, 500, none); 
@include font-mix ($gray-darker, $body-font, 15px, 1, 500, uppercase); 
*/


/* BORDER RADIUS */

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;      
          border-radius: $radius;
}

/* 
@include border-radius($radius);
@include border-radius(50%);
*/

@mixin border-radius-multi ($radius-top-left, $radius-top-right, $radius-bottom-left, $radius-bottom-right) {
  -webkit-border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
     -moz-border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
      -ms-border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
       -o-border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;      
          border-radius: $radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left;
}

/* 
@include border-radius-multi($radius-top-left $radius-top-right $radius-bottom-right $radius-bottom-left);
@include border-radius-multi(3px 0px 3px 0px);
@include border-radius-multi(0px 3px 0px 3px);
*/



/* BACKGROUND IMAGE */

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin bg-image ($background-repeat, $background-position-horizontal, $background-position-vertical, $background-size) {
background-repeat: $background-repeat;
background-position: $background-position-horizontal $background-position-vertical;
-webkit-background-size: $background-size;
   -moz-background-size: $background-size;
    -ms-background-size: $background-size;
     -o-background-size: $background-size;
        background-size: $background-size;
}

/*
@include bg-image (
$background-repeat, 
$background-position-horizontal, $background-position-vertical, 
$background-size);

@include bg-image (no-repeat, center, top, auto);
@include bg-image (no-repeat, center, center, cover);
@include bg-image (no-repeat, center, bottom, contain);
*/


/* INPUT */

@mixin input ($height, $text-align, $vertical-padding, $horizontal-padding, $border-width, $border-radius, $border-color, $background-color, $border-color-focus, $background-color-focus) {
height: $height;
text-align: $text-align;
padding: $vertical-padding $horizontal-padding; 
border: $border-width solid $border-color;
border-radius: $border-radius;
background-color: $background-color; 
-webkit-box-shadow: none;
box-shadow: none; 
  &:focus {
  -webkit-box-shadow: none;
  box-shadow: none;  
  border: $border-width solid $border-color-focus;
  background-color: $background-color-focus; 
  }  
}

/* 
@include input (
$height, $text-align,
$vertical-padding, $horizontal-padding, 
$border-width, $border-radius, 
$border-color, $background-color, 
$border-color-focus, $background-color-focus);

@include input (34px, left, 5px, 10px, 1px, 0px, $gray, $gray-light, $gray, $gray-light);


+ Font-mix ++++++++++++++++++++++++

@include font-mix ($color, $font-family, $font-size, $line-height, $font-weight, $text-transform );

@include font-mix ($gray-darker, $body-font, 15px, 1, 500, none); 
@include font-mix ($gray-darker, $body-font, 15px, 1, 500, uppercase); 

*/



/* TEXTAREA */

@mixin textarea ($text-align, $vertical-padding, $horizontal-padding, $border-width, $border-radius, $border-color, $background-color, $border-color-focus, $background-color-focus) {
height: auto;
text-align: $text-align;
padding: $vertical-padding $horizontal-padding;
border: $border-width solid $border-color;
border-radius: $border-radius;
background-color: $background-color;
-webkit-box-shadow: none;
box-shadow: none;
resize: vertical; 
margin-bottom: 15px;   
  &:focus {
  -webkit-box-shadow: none;
  box-shadow: none;    
  border: $border-width solid $border-color-focus;
  background-color: $background-color-focus;
  }  
}

/* 
@include textarea (
$text-align,
$vertical-padding, $horizontal-padding, 
$border-width, $border-radius,
$border-color, $background-color, 
$border-color-focus, $background-color-focus);

@include textarea (left, 5px, 10px, 1px, 0px, $gray, $gray-light, $gray, $gray-light);


+ Font-mix ++++++++++++++++++++++++

@include font-mix ($color, $font-family, $font-size, $line-height, $font-weight, $text-transform );

@include font-mix ($gray-darker, $body-font, 15px, 1, 500, none); 
@include font-mix ($gray-darker, $body-font, 15px, 1, 500, uppercase); 

*/


/* PLACEHOLDER */

@mixin placeholder-input ($color, $font-family, $font-size, $line-height, $font-weight, $text-align, $text-transform) {
  ::-moz-placeholder { /* Firefox 19+ */
  color: $color;
  font-family: $font-family;  
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-align: $text-align;
  text-transform: $text-transform;
  }
  ::-webkit-input-placeholder {
  color: $color;
  font-family: $font-family;  
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-align: $text-align;
  text-transform: $text-transform;
  }
  :-moz-placeholder { /* Firefox 18- */
  color: $color;
  font-family: $font-family;  
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-align: $text-align;
  text-transform: $text-transform;
  }
  :-ms-input-placeholder {
  color: $color;
  font-family: $font-family;  
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-align: $text-align;
  text-transform: $text-transform;
  }    
}

/*
@include placeholder-input (
$color,
$font-family, 
$font-size, 
$line-height, 
$font-weight, 
$text-align, 
$text-transform);

@include placeholder-input ($gray-darker, $body-font, 15px, 1, 500, left, none); 
@include placeholder-input ($gray-darker, $body-font, 15px, 1, 500, left, uppercase); 
*/


/* BUTTON */

@mixin button ($font-family, $font-size, $line-height, $font-weight, $text-align, $text-transform, $vertical-padding, $lateral-padding, $border-width, $border-radius, $color, $background-color, $border-color, $color-hover, $background-color-hover, $border-color-hover, $color-focus, $background-color-focus, $border-color-focus, $color-active, $background-color-active, $border-color-active ) {
font-family: $body-font;
font-size: $font-size;    
line-height: $line-height;
font-weight: $font-weight;
text-align: $text-align;
text-transform: $text-transform;
padding: $vertical-padding $lateral-padding;
border-radius: $border-radius;
color: $color;
background-color: $background-color;
border: $border-width solid $border-color;
@include transition (all, 0.3s, linear);
  &:hover {
  color: $color-hover;  
  background-color: $background-color-hover;
  border-color: $border-color-hover;  
  }
  &:focus {
  /*text-shadow: 1px 0px 1px $gray-200;  */
  color: $color-focus;  
  background-color: $background-color-focus;
  border-color: $border-color-focus; 
  }
  &:active {
  /*text-shadow: 1px 0px 1px $gray-200;*/
  color: $color-active;  
  background-color: $background-color-active;
  border-color: $border-color-active; 
  }
  &:hover, &:focus, &:active {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  }
  &:focus {
    &:active {
    outline: 0;
    }
  }
}



/*

@include button (
$font-family, 
$font-size, 
$line-height, 
$font-weight, 
$text-align, 
$text-transform,

$vertical-padding, $lateral-padding,
$border-width, $border-radius,

$color, $background-color, $border-color,
$color-hover, $background-color-hover, $border-color-hover, 
$color-focus, $background-color-focus, $border-color-focus,
$color-active, $background-color-active, $border-color-active
);


Btn-full: 
@include button (
$body-font, 14px, 1, 500, center, uppercase,
8px, 20px,
0px, 3px,
$white, $gray, transparent,
$white, darken( $gray, 10% ), transparent,
$white, lighten( $gray, 10% ), transparent,
$white, lighten( $gray, 10% ), transparent
); 


Btn-outline:
@include button (
$body-font, 14px, 1, 500, center, uppercase,
8px, 20px,
1px, 3px,
$white, transparent, $white,
$gray, $white, $white,
$white, lighten( $gray, 10% ), transparent,
$white, lighten( $gray, 10% ), transparent
); 

*/



/* TRANSITION */

@mixin transition ($object, $sec, $type) {
-webkit-transition: $object $sec $type;
-moz-transition: $object $sec $type;
-o-transition: $object $sec $type;
transition: $object $sec $type;
}

/*
@include transition ($object, $sec, $type);
@include transition (all, 0.3s, linear);
*/


/* ROTATE */

@mixin rotate {
  -webkit-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

/*
@include rotate ($deg);
@include rotate (all);
*/



/* BOX SHADOW */

@mixin box-shadow ($horizontal-length, $vertical-length, $blur, $spread, $rgba-color-and-opacity) {
-webkit-box-shadow: $horizontal-length $vertical-length $blur $spread $rgba-color-and-opacity;
    -moz-box-shadow: $horizontal-length $vertical-length $blur $spread $rgba-color-and-opacity;
    box-shadow: $horizontal-length $vertical-length $blur $spread $rgba-color-and-opacity;
}

/*

@include box-shadow (5px, 5px, 5px, 0px, rgba(51,51,51,0.15));

-webkit-box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.15);
    -moz-box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.15);
    box-shadow: 10px 10px 5px 0px rgba(51,51,51,0.15);

*/