/* NAVBAR */

.eo-navbar {

  @media (min-width: 576px) {

  }
  @media (min-width: 768px) {

  }
  @media (min-width: 992px) {

  }
  @media (min-width: 1200px) {
  padding: 0em 5.5em;
  }
  .navbar-brand {
    @media (min-width: 576px) {

    }
    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {
    margin-left: 1em;
    margin-right: 3.75em;
    }    
  
  }
  .navbar-collapse {
  margin-top: 1em;  
    @media (min-width: 576px) {

    }
    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {
    margin-top: 0;
    }
    @media (min-width: 1200px) {

    }     
    .eo-search {
      .eo-input-wrapper {
      position: relative;
      width: 100%;
        @media (min-width: 576px) {

        }
        @media (min-width: 768px) {

        }
        @media (min-width: 992px) {
        width: auto;  
        }        
        @media (min-width: 1200px) {
        width: auto;  
        position: relative;
        }




        &:after {
          @media (min-width: 320px) {
          position: absolute;        
          font-family: 'FontAwesome';
          font-size: 0.75em;
          top: 0.75em;
          right: 1.25em;
          content: "\f002";
          color: $gray-600;    
          }
          @media (min-width: 576px) {

          }
          @media (min-width: 768px) {

          }
          @media (min-width: 992px) {

          } 
          @media (min-width: 1200px) {
          font-size: 1em;
          top: 1.5em;
          right: 1.5em;
          }                              
        }    
        input {
        padding: 0.75em 1.5em 0.75em 0.75em;
        @include border-radius (0)  ;
        box-shadow: none;
        background-color: $gray-700;
        border: none;
        @include font-mix ($gray-300, $body-font, 0.9rem, 1, 400, none); 
        width: 100%;      
          @media (min-width: 576px) {

          }
          @media (min-width: 768px) {

          }
          @media (min-width: 992px) {

          }
          @media (min-width: 1200px) {
          padding: 27.5px 5rem 27.5px 3rem;
          @include border-radius (0)  ;
          box-shadow: none;
          background-color: $gray-700;
          border: none;
          @include font-mix ($gray-300, $body-font, 0.9rem, 1, 400, none); 
          width: 25em;
          }
          @media (min-width: 1336px) {
          width: 30em;     
          }  
        }      
      }
      .eo-btn-search {
      @include font-mix ($white, $body-font, 0.75rem, 1, 400, none); 
      background-color: transparent;
        &:hover {
        color: $primary-color;
        background-color: transparent;  
        }         
        @media (min-width: 576px) {

        }
        @media (min-width: 768px) {

        }
        @media (min-width: 992px) {

        }
        @media (min-width: 1200px) {
        @include font-mix ($white, $body-font, 0.75rem, 1, 400, none); 
        }      
   
      }    
    }

    .eo-navbar-nav-icons { 
    display: inline-block;
      li {
      display: inline-block;  
        a {
          @media (min-width: 576px) {

          }
          @media (min-width: 768px) {

          }
          @media (min-width: 992px) {

          }
          @media (min-width: 1200px) {
          position: relative;        
          }      
          i {

            @media (min-width: 576px) {

            }
            @media (min-width: 768px) {

            }
            @media (min-width: 992px) {

            }
            @media (min-width: 1200px) {
            font-size: 1.5em;
            color: $white; 
            vertical-align: middle;          
            }        
          }
          .eo-badge {
            @media (min-width: 576px) {

            }
            @media (min-width: 768px) {

            }
            @media (min-width: 992px) {

            }
            @media (min-width: 1200px) {
            position: absolute;
            top: 0;
            right: 0;
            @include font-mix ($white, $body-font, 0.65rem, 1, 400, none); 
            @include border-radius (50%);          
            }       
            &.eo-badge-primary{
            background-color: $primary-color;  
            } 
            &.eo-badge-secondary {
            background-color: $secondary-color;  
            }               
            &.eo-badge-tertiary {
            background-color: $tertiary-color;  
            } 
          }
        }
      }   
    }

    .eo-navbar-user {
      .media {
        &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.75em;
        margin-top: 1em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
        }        
        @media (min-width: 576px) {

        }
        @media (min-width: 768px) {

        }
        @media (min-width: 992px) {

        }
        @media (min-width: 1200px) {
          &::after {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 0.75em;
          margin-top: 1em;
          vertical-align: .255em;
          content: "";
          border-top: .3em solid;
          border-right: .3em solid transparent;
          border-bottom: 0;
          border-left: .3em solid transparent;
          }
        }          
      }
      .dropdown-toggle {
      &::after {
      display: none;
      }         
        @media (min-width: 576px) {

        }
        @media (min-width: 768px) {

        }
        @media (min-width: 992px) {

        }
        @media (min-width: 1200px) {
          &::after {
          display: none;
          }  
        }        
      }   
      @media (min-width: 576px) {

      }
      @media (min-width: 768px) {

      }
      @media (min-width: 992px) {

      }
      @media (min-width: 1200px) {

      }     
      .eo-navbar-user-name {
      @include font-mix ($white, $body-font, 0.8rem, 1, 500, none); 
        @media (min-width: 576px) {

        }
        @media (min-width: 768px) {

        }
        @media (min-width: 992px) {

        }
        @media (min-width: 1200px) {
        @include font-mix ($white, $body-font, 0.8rem, 1, 500, none); 
        } 
      }
      .eo-navbar-user-nick {
      @include font-mix ($white, $body-font, 0.6rem, 1, 400, uppercase);  
        @media (min-width: 576px) {

        }
        @media (min-width: 768px) {

        }
        @media (min-width: 992px) {

        }
        @media (min-width: 1200px) {
        @include font-mix ($white, $body-font, 0.6rem, 1, 400, uppercase); 
        } 
      }      

    }  
  }

}


/* FIXED SIDEBARS*/

.eo-fixed-sidebar-left {
display: none;  
  @media (min-width: 576px) {

  }
  @media (min-width: 768px) {

  }
  @media (min-width: 992px) {

  }
  @media (min-width: 1200px) {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 72px;
  min-height: 1000vh;
  box-shadow: 0 0 34px 0 rgba(63,66,87,.1);  
  height: 100%;
  background-color: $white;   
  }  
  @media (min-width: 1336px) {
  display: block;
  }  
  .eo-fixed-sidebar-left-logo {
  background-color: $primary-color;
  height: 72px;
  padding: 1.1em;        
  }
  .eo-fixed-sidebar-icon-list {
    .eo-fixed-sidebar-icon {
      i {
      font-size: 2em;
      color: $gray-400;
      padding: 0.25em 0.5em;  
      }
      &:hover {
        i {
        color: $primary-color; 
        } 
      }
    }
  }
}


.eo-fixed-sidebar-right {
display: none;  
  @media (min-width: 576px) {

  }
  @media (min-width: 768px) {

  }
  @media (min-width: 992px) {

  }
  @media (min-width: 1200px) {
  position: fixed;
  width: 72px;
  top: 72px;
  z-index: 999;
  right: 0;
  min-height: 100%;
  background-color: $white; 
  }
  @media (min-width: 1336px) {
  display: block;
  }      
  .eo-fixed-sidebar-img-list {
    .eo-fixed-sidebar-img {
    position: relative;  
      img {
      padding: 0.5em;
      }
      .eo-badge {
      position: absolute;
      top: -0.75em;
      left: 0;  
        &.eo-badge-online {
          i {
          color: $quaternary-color;
          }   
        }
        &.eo-badge-offline {
          i {
          color: $primary-color;
          }   
        } 
        &.eo-badge-away {
          i {
          color: $quinary-color;
          }   
        }                
      }
    }
  }    
}