/* Landing page*/

#eo-landing.eo-bg-wrapper {
background-image: linear-gradient(rgba(255, 94, 48, 0.8), rgba(255, 94, 48, 0.8)), url(../img/landing-bg.png);
@include bg-image (repeat, center, center, unset);

  /* Content */
  .eo-content {
  position: relative;
  z-index: 1;
    /* Navigation */
    .eo-navigation {
    z-index: 1;  
    padding-top: 1em;
      @media only screen and (min-device-width:576px){ 
      padding-top: 1.5em;  
      }
      @media only screen and (min-device-width:768px){ 

      }
      @media only screen and (min-device-width:992px){ 

      }
      @media only screen and (min-device-width:1024px){ 

      }
      @media only screen and (min-device-width:1200px){ 
      padding-top: 1.5em;  
      }
      @media only screen and (min-device-width:1336px){ 

      }
      @media only screen and (min-device-width:1440px){ 

      }
      @media only screen and (min-device-width:1920px){ 

      }
      @media only screen and (min-device-width:2500px){ 

      }
      /* Logo */
      .eo-logo {
        .eo-logo-img {}
        .eo-logo-text {
        @include font-mix ($white, $body-font, 0.85rem, 1.5, 700, uppercase);
          @media (min-width: 576px) {
          font-size: 1.25rem;
          }
          @media (min-width: 768px) {
          font-size: 1rem;
          }
          @media (min-width: 992px) {
          font-size: 1rem;
          }
          @media (min-width: 1200px) {
          font-size: 1rem;
          }         
        }
      }
      /* Menu */
      .eo-menu {
        .btn {
        padding: 0.25em .75rem;
          i {
          color: $white;  
          }            
        }
      }
    }
    /* Main */
    main.eo-login-register-main {
    z-index: 1;  
    margin-top: 2em;
    margin-bottom: 2em;
      @media only screen and (min-device-width:576px){      
      margin-top: 3em;
      margin-bottom: 2.5em;
      }
      @media only screen and (min-device-width:768px){ 
      margin-top: 4em;
      margin-bottom: 3.5em;
      }
      @media only screen and (min-device-width:992px){ 

      }
      @media only screen and (min-device-width:1024px){ 

      }
      @media only screen and (min-device-width:1200px){ 
      margin-top: 2.5em;
      margin-bottom: 0em;  
      }
      @media only screen and (min-device-width:1336px){ 

      }
      @media only screen and (min-device-width:1440px){ 

      }
      @media only screen and (min-device-width:1920px){ 

      }
      @media only screen and (min-device-width:2500px){ 

      }       
      .eo-login-text {
        p {
        color: $white;  
        }
        .btn-eo-outline-w {
        @include button (
        $body-font, 0.85em, 1, 500, center, none,
        0.5em, 1.5em,
        2px, 0.25em,
        $white, transparent, $white, 
        $white, $primary-color, $white, 
        $white, $primary-color, $white, 
        $white, $primary-color, $white
        );
          @media (min-width: 576px) {
          font-size: 1em;
          padding: 0.55em 2.5em;
          }   
          @media (min-width: 768px) {
          font-size: 1em;
          padding: 0.55em 2.5em; 
          }
          @media (min-width: 992px) {
          font-size: 1em;
          padding: 0.7em 2.5em;  
          }
          @media (min-width: 1200px) {
          font-size: 1em;
          padding: 1em 3.5em; 
          }   
        }          
      }
      .eo-card-login {
        .card {
        border: none;
        border-radius: 0 0.25rem 0.25rem 0;
          .card-body {
          padding: 0;
            .eo-login-register-switch {
            height: initial;  
            border-right: 1px solid $gray-200;
              .eo-login-register-switch-icon {
              border-radius: 0;  
              background-color: transparent;               
                i {
                color: $gray-400;
                vertical-align: middle;  
                }
                &.active {
                  i {
                  color: $primary-color;  
                  }
                }
              }
              .eo-login-register-switch-icon + .eo-login-register-switch-icon {
              border-top: 1px solid $gray-200;
              }
            }
            .eo-login,
            .eo-register {
              .eo-login-header,
              .eo-register-header {
              @include font-mix ($gray-700, $body-font, 0.9em, 1, 500, none);
              border-bottom: 1px solid $gray-200;
              padding: 1.3em 1.5em;   
              }
              .eo-login-content,
              .eo-register-content {
                .bmd-form-group {
                position: relative;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                padding: 1.25em 0.5em 0em 0.5em;
                @include transition (all, 0.3s, linear); 
                  &.eo-login-form-group,
                  &.eo-register-form-group {
                    &.eo-active {
                    border-color: $primary-color;  
                      .bmd-label-static {
                      color: $primary-color; 
                      } 
                    }                       
                  }                                   
                }                  
                .bmd-label-static {
                color: $gray-600;  
                top: -0.75rem;
                left: 1em;
                font-size: .75rem;
                line-height: 1; 
                position: absolute;
                pointer-events: none;
                transition: all .3s ease;                                    
                }
                input {
                @include font-mix ($gray-600, $body-font, 0.9em, 1, 400, none);  
                @include input (1.75em, left, 0.25em, 0.5em, 0, 0, transparent, transparent, transparent, transparent);                    
                }
                @include placeholder-input ($gray-400, $body-font, 0.9em, 1, 300, left, none); 
                .eo-checkbox {
                  .custom-control-input:checked~.custom-control-label::before {
                  color: $white;
                  background-color: $primary-color;
                  }
                  label {
                  @include font-mix ($gray-600, $body-font, 0.85em, 1, 400, none);   
                  }                    
                }
                .eo-forgot-pass {
                text-align: left;
                  @media (min-width: 992px) {
                  text-align: right;
                  }                  
                }
                a {
                @include font-mix ($gray-600, $body-font, 0.85em, 1, 400, none);   
                }
                .eo-divider-or {
                position: relative;
                width: 100%;
                height: 1px;
                background-color: $gray-300;                    
                  &:after {
                  content: 'or';
                  display: block;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  -webkit-transform: translate(-50%,-50%);
                  transform: translate(-50%,-50%);
                  background-color: $white;
                  padding: 0 1.5em;
                  @include font-mix ($gray-800, $body-font, 0.85em, 1, 400, uppercase);
                  z-index: 5;                      
                  }
                }
                .btn-eo-login {
                  @include button (
                  $body-font, 0.85em, 1, 500, center, none,
                  0.85em, 1em,
                  0px, 0.25em,
                  $white !important, $primary-color, transparent,
                  $white !important, darken( $primary-color, 10% ), transparent,
                  $white !important, lighten( $primary-color, 3% ), transparent,
                  $white !important, lighten( $primary-color, 3% ), transparent
                  );
                  @media (min-width: 576px) {
                  font-size: 0.85em;
                  padding: 0.85em 1em;
                  }   
                  @media (min-width: 768px) {
                  font-size: 0.85em;
                  padding: 0.85em 1em;  
                  }
                  @media (min-width: 992px) {
                  font-size: 0.85em;
                  padding: 0.85em 1em;  
                  }
                  @media (min-width: 1200px) {
                  font-size: 0.85em;
                  padding: 0.85em 1em; 
                  }   
                }                                 
                p {
                color: $gray-700;  
                  a {
                  color: $primary-color;  
                  }
                }
                .btn-eo-register {
                @include button (
                $body-font, 1em, 1, 500, center, none,
                0.85em, 1em,
                0px, 0.25em,
                $white !important, $tertiary-color, transparent,
                $white !important, darken( $tertiary-color, 10% ), transparent,
                $white !important, lighten( $tertiary-color, 3% ), transparent,
                $white !important, lighten( $tertiary-color, 3% ), transparent
                );
                  @media (min-width: 576px) {
                  font-size: 1em;
                  padding: 0.85em 1em;
                  }   
                  @media (min-width: 768px) {
                  font-size: 1em;
                  padding: 0.85em 1em;  
                  }
                  @media (min-width: 992px) {
                  font-size: 1em;
                  padding: 0.85em 1em;  
                  }
                  @media (min-width: 1200px) {
                  font-size: 1em;
                  padding: 0.85em 1em; 
                  }   
                }                    
              }
            }
          }
        }
      }
    }
  }

}