/* Profile page */

#eo-profile {
background-color: $gray-200;

  /* Content */
  .eo-content {

    /* NAVBAR */
    .eo-navbar {
      .navbar-brand {
      @include font-mix ($white, $body-font, 0.85rem, 1, 500, uppercase);  
      }
    }

    /* HEADER */
    .eo-profile-header {
      .card {
        .eo-profile-cover {}
        .card-body {
        position: relative;  
        padding: 13.5em 1.25rem 1em 1.25rem; 
          @media (min-width: 576px) {
          padding: 8.5em 1.25rem 1em 1.25rem;  
          }
          @media (min-width: 768px) {
          padding: 6.5em 1.25rem 1em 1.25rem;  
          }
          @media (min-width: 992px) {
          padding: 4.5em 1.25rem 1em 1.25rem;  
          }
          @media (min-width: 1200px) {
          padding: 2.5em 1.25rem;
          }          
          .eo-profile-menu {                    
            .eo-profile-nav {
              ul {
                li {
                  a {
                  @include font-mix ($gray-500, $body-font, 0.85rem, 1, 500, none);
                    &:hover {
                    color: $black;  
                    }    
                  }
                  .btn {
                  padding-top: 0;
                  padding-bottom: 0;
                  @include font-mix ($gray-500, $body-font, 0.85rem, 1, 500, none);
                    &:hover {
                    color: $black;  
                    }                     
                  }
                }
              }
            }
          }
          .eo-control-buttons {
          position: absolute;
          right: 1em;
          top: -1.5em;
            .eo-btn-control {
            color: $white;
            padding: 0.5em;
            width: 2.75em;
            height: 2.75em;  
            @include border-radius(50%); 
              &.eo-btn-primary {
              background-color: $primary-color;  
              }
              &.eo-btn-secondary {
              background-color: $secondary-color;  
              }
              &.eo-btn-tertiary {
              background-color: $tertiary-color;  
              }    
            }                        
          }           
          .eo-profile-data {
          position: absolute;
          left: 50%;
          bottom: 5em;
          text-align: center;
          margin-left: -4.85em; 
          z-index: 10;  
            @media (min-width: 576px) {
            bottom: 6em;  
            }
            @media (min-width: 768px) {
            bottom: 3.5em;  
            }
            @media (min-width: 992px) {
            bottom: 1.5em;  
            }
            @media (min-width: 1200px) {
            bottom: 1em;
            }                               
            .eo-profile-img {
              img {
              width: 7em;
              border: 0.5em solid white;
                @media (min-width: 576px) {

                }
                @media (min-width: 768px) {

                }
                @media (min-width: 992px) {

                }
                @media (min-width: 1200px) {
                width: 10em;  
                }              
              } 
            }
            .eo-profile-content {
              .eo-profile-name {
              @include font-mix ($gray-800, $body-font, 1.5rem, 1, 700, none);    
              }
              .eo-profile-country {
              @include font-mix ($gray-600, $body-font, 0.85rem, 1, 400, none);    
              }
            } 
          }           
        }
      }
    }

    /* CONTENT */
    .eo-profile-content {

      /* Badges */
      .eo-badges {
        .eo-badge-item {
        position: relative;  
        width: 21%;
        margin-right: .3rem;
          @media (min-width: 576px) {
          margin-right: 0.95rem;  
          }
          @media (min-width: 768px) {
          margin-right: 1.3rem;  
          }
          @media (min-width: 992px) {
          margin-right: .2rem;
          }
          @media (min-width: 1200px) {

          }           
          .eo-badge {
          position: absolute;
          top: 0;
          right: 0; 
          text-align: center;
          padding-right: 0.7em;
          padding-left: 0.7em;
          @include border-radius(50%);           
          @include font-mix ($white, $body-font, 0.6rem, 1.5, 400, none);
            @media (min-width: 576px) {
            font-size: 0.75rem;  
            padding-right: 0.75em;
            padding-left: 0.75em;
            }
            @media (min-width: 768px) {
            font-size: 0.75rem;  
            padding-right: 0.75em;
            padding-left: 0.75em;
            }
            @media (min-width: 992px) {
            font-size: 0.5rem;
            padding-right: 0.75em;
            padding-left: 0.75em;
            }
            @media (min-width: 1200px) {
            padding-right: .5em;
            padding-left: .5em;
            }            
            &.eo-badge-primary {
            background-color: $primary-color;  
            }
            &.eo-badge-secondary {
            background-color: $secondary-color;  
            }
            &.eo-badge-tertiary {
            background-color: $tertiary-color;  
            } 
            &.eo-badge-quaternary {
            background-color: $quaternary-color;  
            }     
          }  
        }  
      }

      /* My Spotify Playlist */
      .eo-spotify-playlist {
        .eo-card-body-list-item {
        padding-left: 1em;
        padding-right: 1em;  
          .eo-spotify-playlist-no {
          @include font-mix ($gray-600, $body-font, 0.75rem, 1.3, 400, none);   
          }
          .eo-spotify-playlist-img {
          @include border-radius(0.25em);  
          }
        }
      }

      /* Twitter Feed */
      .eo-twitter-feed {
        p {
          a {
          color: $secondary-color;
            &:hover {
            color: $secondary-color;  
            }  
          }
        }
      }

      /* Videos */
      .eo-videos {

        .eo-video-item {
        position: relative;
        @include border-radius(0.25em);
        overflow: hidden;
        display: inline-block;

          .eo-play-video-icon {
          background-color: rgba(255,94,58,.7);
          z-index: 5;
          text-align: center;
          outline: 0;
            i {
            color: $white;  
            }
          } 
          
          .eo-play-video {
          width: 2em;
          height: 2em;
          line-height: 2;
          border: 4px solid $white;
          @include border-radius(100%);
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          transition: all .3s ease;
          }

          .eo-video-content {
          opacity: 0;
          position: absolute;
          transition: all .3s ease;
          bottom: 1em;
          left: 0.5em;
          color: $white;
          z-index: 5; 
            .eo-video-title {
            @include font-mix ($white, $body-font, 0.8rem, 1, 400, none);
            }
            .eo-video-time-published {
            @include font-mix ($white, $body-font, 0.65rem, 1, 400, none);
            }            
          }

          .eo-overlay {
          position: absolute; 
          background: rgba(43,45,59,.2);
          transition: all .3s ease;
          opacity: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          }

          &:hover {
            .eo-play-video {
            margin-top: -1em;
            } 
            .eo-video-content {
            opacity: 1;
            bottom: 0.75em;
            }

            .eo-overlay {
            opacity: 1;
            }                                   
          }          

        }      

      }

      /* Gallery */
      .eo-gallery {
        .eo-gallery-item {
        width: 30%;
        margin-right: .35rem; 
          @media (min-width: 576px) {
          margin-right: 0.8rem;   
          }
          @media (min-width: 768px) {
          margin-right: 1.15rem;  
          }
          @media (min-width: 992px) {
          margin-right: 0.15rem;  
          }
          @media (min-width: 1200px) {
          margin-right: .25rem; 
          }         
        }  
      } 

      /* Blog posts */
      .eo-blog-posts {}

      /* Friends */
      .eo-friends {
        .eo-friend-item {
        position: relative;  
        width: 17%;
        margin-right: .2rem;
          @media (min-width: 576px) {
          margin-right: 0.65rem;  
          }
          @media (min-width: 768px) {
          margin-right: 1rem;
          }
          @media (min-width: 992px) {
          margin-right: .1rem;
          }
          @media (min-width: 1200px) {

          }           
        }  
      }    

      /* Favourite Pages */
      .eo-favourite-pages {
        .eo-btn-star {
        color: $black;
        padding: 0 0 0 0.5em;
        background-color: transparent;
          &:hover {
          color: $primary-color;  
          }            
        }
      }

      /* James's Poll */
      .eo-poll {
        .eo-poll-label {
        @include font-mix ($gray-700, $body-font, 0.75rem, 1.3, 400, none); 
        }
        .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: $primary-color;
        }
        .custom-control-input:checked~.custom-control-label::before {
        background-color: $primary-color;
        }        
        .eo-poll-value {
        @include font-mix ($gray-700, $body-font, 0.75rem, 2, 400, none);   
        }
        .eo-poll-progress {
        height: 0.5rem;
          .eo-poll-progress-bar {
          background-color: $primary-color;  
          }
        }
        .eo-poll-who-voted {
        @include font-mix ($gray-600, $body-font, 0.75rem, 1.3, 400, none);  
        }
        .eo-poll-friends-list {
          .eo-poll-friend {
          margin-right: -1rem;
            img {
            border:2px solid $white;  
            }
            &:last-child {

            }
          }
        }
      }
  

    }




  }
    
}