/* HEADER */

.eo-profile-header {
margin-top: 5em;
  @media (min-width: 576px) {

  }
  @media (min-width: 768px) {

  }
  @media (min-width: 992px) {

  }
  @media (min-width: 1200px) {
  margin-top: 6.5em;    
  }  
}