/* Card component */

.card {
@include border-radius(0.25em);
margin-bottom: 1em;
  .card-img-top {
  @include border-radius(0);  
  }
  .card-header {
  padding: 1.25rem 1.25rem;  
  background-color: $white;
    .eo-card-header-title {
    @include font-mix ($gray-700, $body-font, 0.875rem, 2, 700, none);  
    }
    .eo-btn-more {
    color: $gray-500;
    padding: 0 0.5em;
    background-color: transparent;     
    }
  }
  .card-body {
  padding: 1.25rem 0;

    .eo-card-body-block {
    padding: 0 1.25rem;       
    }
    .eo-card-body-block + .eo-card-body-block {
    margin-top: 1em;   
    }    

    .eo-card-body-lg-block {
    padding: 0 1.25rem;  
      .eo-card-body-lg-title a {
      color: $gray-700;
        &:hover {
        color:$primary-color;  
        }  
      }
      .eo-card-body-username a {
      color:$gray-600;
        &:hover {
        color:$gray-600;  
        }          
      }       
    }
    .eo-card-body-lg-block + .eo-card-body-lg-block {
    margin-top: 1em;  
    border-top: 1px solid $gray-300;
      .eo-card-body-lg-title,
      .media {
      padding-top: 1.25rem;   
      }   
    }

    .eo-card-body-list-block {
      .eo-card-body-list {
        .eo-card-body-list-item {
          &:first-child {
          padding-top: 0;  
          }
          &:last-child {
          padding-bottom: 0;  
          }
        }
      }
    }

    .eo-card-body-lg-title {
    @include font-mix ($gray-700, $body-font, 1.5rem, 1.3, 300, none); 
    }
    .eo-card-body-title {
    @include font-mix ($gray-700, $body-font, 0.875rem, 1.3, 500, none);  
    }
    .eo-card-body-subtitle {
    @include font-mix ($gray-700, $body-font, 0.85rem, 1.3, 500, none);  
    }
    .eo-card-body-username {
    @include font-mix ($gray-500, $body-font, 0.7rem, 1.3, 400, none);        
    }
    .eo-card-body-theme {
    @include font-mix ($gray-500, $body-font, 0.7rem, 1.3, 400, none);  
    }
    .eo-card-body-time {
    @include font-mix ($gray-600, $body-font, 0.75rem, 1.3, 400, none);  
    } 

    p {
    @include font-mix ($gray-600, $body-font, 0.9rem, 1.3, 400, none);
        @media (min-width: 576px) {
        font-size: 0.812rem;
        }
        @media (min-width: 768px) {
        font-size: 0.812rem;
        }
        @media (min-width: 992px) {
        font-size: 0.812rem;
        }
        @media (min-width: 1200px) {
        font-size: 0.812rem;
        }           
    }
       
  } 
}

