/* Card Post component */

.card {
  &.eo-post {
  position: relative;  
  border-radius: 0.25em;
  margin-bottom: 0em;
  padding: 1.25rem 1.25rem;
    &.eo-commented-post {
    border-radius: 0.25em 0.25em 0 0;  
    }
    .card-header {
    padding: 0rem;  
    background-color: $white;
    border-bottom: none;
      .eo-post-header-user-thumb {

      }  
      .eo-post-header-title {
      @include font-mix ($gray-700, $body-font, 0.875rem, 1.3, 500, none); 
        .eo-post-link {
        @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);
          a {
          margin-left: 0.25em;  
          @include font-mix ($primary-color, $body-font, 0.85rem, 1.3, 500, none);  
          }  
        }     
      }
      .eo-post-header-subtitle {
      @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);  
      } 
      .eo-dropdown {
        .eo-btn-more { 
          &:after {
          display: none; 
          }     
        }
        .dropdown-menu {
          .dropdown-item {
          @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 500, none);
            &:hover {
            color:$primary-color;
            background-color: transparent;  
            }  
          }
        }      
      }   
    }
    .card-body {
    padding: 1.25rem 0rem;
      .eo-post-text {
      @include font-mix ($gray-600, $body-font, 0.85rem, 1.3, 400, none);
          @media (min-width: 576px) {
          font-size: 0.85rem;
          }
          @media (min-width: 768px) {
          font-size: 0.9rem;
          }
          @media (min-width: 992px) {
          font-size: 0.9rem;
          }
          @media (min-width: 1200px) {
          font-size: 0.9rem;
          }           
      }
      .eo-post-video-link-box {
      border: 1px solid $gray-400;  
      @include border-radius(0.25em);
        .eo-post-video-link-img {
        position: relative;  
          .eo-post-video-play-icon {
          width: 3em;
          height: 3em;
          line-height: 2;
          border: 4px solid $white;
          border-radius: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: rgba(255,94,58,.7);
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          transition: all .3s ease;
            i {
            color: $white;
            z-index: 5;
            text-align: center;
            outline: 0;
            display: block;
            line-height: 1.25;
            font-size: 2em;            
            }
          }
        }  
        .eo-post-video-link-title {
        @include font-mix ($gray-700, $body-font, 1.5rem, 1.3, 300, none);
          a {
          @include font-mix ($gray-700, $body-font, 1.5rem, 1.3, 300, none);
            &:hover {
            color: $primary-color;  
            }  
          }  
        }
        .eo-post-video-link {
        @include font-mix ($gray-500, $body-font, 0.65rem, 1.3, 400, uppercase);
          &:hover {
          color: $primary-color;  
          } 
        }
      }
      .eo-post-photo-link-box {
      border: none;
      border-radius: 0.25em 0.25em 0 0;
        .eo-post-photo {
        border: 1px solid $gray-400;
        border-radius: 0.25em 0.25em 0 0;  
        }
        .eo-original-post {
        position: relative;  
        @include border-radius(0);
        margin-bottom: 0em;
        padding: 0px 1.25rem 0px 0rem;
        background-color: $white;
        border: none; 
          .card-header {
          padding: 1.25rem 0rem 0rem 1.25rem;  
          background-color: $white;
          border-bottom: none;
          @include border-radius(0);
          border-left: 1px solid $gray-400;
            &:before {
            content: "";
            position: absolute;
            width: 0.5em;
            height: 0.5em;
            top: 2em;
            left: -0.15em;
            background-color: $gray-100;
            border-radius: 100%;
            border: 2px solid $gray-400;
            z-index: 13;        
            }    
            .eo-post-header-user-thumb {
            width: 2.75em;
            }
          }
          .card-body {
          padding: 1.25rem 0rem 0rem 1.25rem;  
          background-color: $white;
          border-bottom: none;
          @include border-radius(0);
          border-left: 1px solid $gray-400;            
          }              
        }        
      }
    }
    .card-footer {
    padding: 1.25rem 0rem 0rem 0rem;
    background-color: $white;
      .eo-likes {
        .eo-btn-likes {
        padding: .375rem .15rem .375rem 0rem;  
          i {
          color: $gray-500;
          font-size: 1.5em;
          }
          &.active {
            i {
            color: $primary-color;
            }            
          }          
        }
        .eo-likes-counter {
        @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);  
        }
      }
      .eo-people-who-liked { 
        ul {
        display: inline;
          .eo-person-who-liked {
          margin-right: -1rem;
            img {
            border:2px solid $white;  
            }
          }              
        }
        .eo-people-who-liked-names {
        display: inline-block;
        vertical-align: middle;
        @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);
          a {
          @include font-mix ($gray-700, $body-font, 0.85rem, 1.3, 500, none);  
          }  
        }    
      }
      .eo-comments {
        .eo-btn-comments {
        padding: .375rem .15rem .375rem 0rem;  
          i {
          color: $gray-500;
          font-size: 1.5em;
          }
        }
        .eo-comments-counter {
        @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);  
        }
      }
      .eo-shares {
        .eo-btn-shares {
        padding: .375rem .15rem .375rem 0rem;  
          i {
          color: $gray-500;
          font-size: 1.5em;
          }
        }
        .eo-shares-counter {
        @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);  
        }
      }         
    }
    .eo-card-controls {
    position: absolute;
    top: 1em;
    right: -1em;
      .eo-control-item {
        .eo-btn-control {
        width: 2em;
        height: 2em; 
        padding: 0; 
        @include border-radius(50%);
          i {
          color: $white;  
            &.material-icons {
            padding: 0.35em;
            font-size: 18px;  
            }
            &.fa {
            padding: 0.5em;  
            }
          } 
          &.eo-btn-primary {
          background-color: $gray-500;
            &:hover,
            &.eo-active {          
            background-color: $primary-color;  
            }
          }  
          &.eo-btn-quinary {
          background-color: $gray-500;
            &:hover,
            &.eo-active {  
            background-color: $quinary-color;  
            }    
          }   
        }
      }
      .eo-control-item + .eo-control-item {
      margin-top: 0.5em;   
      } 
    }
  }
}

.eo-post + .eo-post,
.eo-comment-box + .eo-post {
margin-top: 1.75em;  
}
.eo-post + .eo-comment,
.eo-comment + .eo-comment,
.eo-comment + .eo-reply,
.eo-reply + .eo-comment,
.eo-reply + .eo-reply,
.eo-comment + .eo-comment-box,
.eo-reply + .eo-comment-box,
.eo-comment + .eo-view-more-comments,
.eo-reply + .eo-view-more-comments,
.eo-view-more-comments + .eo-comment-box {
margin-top: 0em;
margin-top: -1px;  
}

/* Comment */
.card {
  &.eo-comment {
  position: relative;  
  border-radius: 0;
  margin-bottom: 0em;
  padding: 1.25rem 1.25rem;
  background-color: $gray-100;
    .card-header {
    padding: 0rem;  
    background-color: $gray-100;
    border-bottom: none;
      .eo-post-header-user-thumb {
      width: 2.75em;
      }  
      .eo-post-header-title {
      @include font-mix ($gray-700, $body-font, 0.875rem, 1.3, 500, none);     
      }
      .eo-post-header-subtitle {
      @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);  
      } 
      .eo-dropdown {
        .eo-btn-more { 
          &:after {
          display: none; 
          }     
        }
        .dropdown-menu {
          .dropdown-item {
          @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 500, none);
            &:hover {
            color:$primary-color;
            background-color: transparent;  
            }  
          }
        }      
      }   
    }
    .card-body {
    padding: 1rem 0rem 0.5rem 0rem;
    background-color: $gray-100;
      .eo-post-text {
      @include font-mix ($gray-600, $body-font, 0.85rem, 1.3, 400, none);
          @media (min-width: 576px) {
          font-size: 0.85rem;
          }
          @media (min-width: 768px) {
          font-size: 0.9rem;
          }
          @media (min-width: 992px) {
          font-size: 0.9rem;
          }
          @media (min-width: 1200px) {
          font-size: 0.9rem;
          }           
      }
    }
    .card-footer {
    border-top: none;  
    padding: 0rem;
    background-color: $gray-100;
      .eo-likes {
        .eo-btn-likes {
        padding: .375rem .15rem .375rem 0rem;  
          i {
          color: $gray-500;
          font-size: 1.5em;
          }
          &.active {
            i {
            color: $primary-color;
            }            
          }           
        }
        .eo-likes-counter {
        @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);  
        }
      }
      .eo-reply {
      @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);  
      }       
    }
  }
}

/* Reply */
.card {
  &.eo-reply {
  position: relative;  
  border-radius: 0;
  margin-bottom: 0em;
  padding: 0 1.25rem 0 2.25rem;
  background-color: $gray-100;
    .card-header {
    padding: 1.25rem 0rem 0rem 1.25rem;  
    background-color: $gray-100;
    border-bottom: none;
    @include border-radius(0);
    border-left: 1px solid $gray-400;
      &:before {
      content: "";
      position: absolute;
      width: 0.5em;
      height: 0.5em;
      top: 2em;
      left: 2em;
      background-color: $gray-100;
      border-radius: 100%;
      border: 2px solid $gray-400;
      z-index: 13;        
      }    
      .eo-post-header-user-thumb {
      width: 2.75em;
      }  
      .eo-post-header-title {
      @include font-mix ($gray-700, $body-font, 0.875rem, 1.3, 500, none);     
      }
      .eo-post-header-subtitle {
      @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);  
      } 
      .eo-dropdown {
        .eo-btn-more { 
          &:after {
          display: none; 
          }     
        }
        .dropdown-menu {
          .dropdown-item {
          @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 500, none);
            &:hover {
            color:$primary-color;
            background-color: transparent;  
            }  
          }
        }      
      }   
    }
    .card-body {
    padding: 1rem 0rem 0.5rem 1.25rem;
    background-color: $gray-100;
    @include border-radius(0);
    border-left: 1px solid $gray-400;
      .eo-post-text {
      @include font-mix ($gray-600, $body-font, 0.85rem, 1.3, 400, none);
          @media (min-width: 576px) {
          font-size: 0.85rem;
          }
          @media (min-width: 768px) {
          font-size: 0.9rem;
          }
          @media (min-width: 992px) {
          font-size: 0.9rem;
          }
          @media (min-width: 1200px) {
          font-size: 0.9rem;
          }           
      }
    }
    .card-footer {
    border-top: none;  
    padding: 0rem 0rem 1.25rem 1.25rem;
    background-color: $gray-100;
    @include border-radius(0);
    border-left: 1px solid $gray-400;    
      .eo-likes {
        .eo-btn-likes {
        padding: .375rem .15rem .375rem 0rem;  
          i {
          color: $gray-500;
          font-size: 1.5em;
          }
          &.active {
            i {
            color: $primary-color;
            }            
          }           
        }
        .eo-likes-counter {
        @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);  
        }
      }
      .eo-reply {
      @include font-mix ($gray-500, $body-font, 0.85rem, 1.3, 400, none);  
      }       
    }
  }
}

/* View more comments */
.card {
  &.eo-view-more-comments {
  border-radius: 0;
  margin-bottom: 0em;
  padding: 1.25rem 1.25rem;
  background-color: $white;
    a {
    @include font-mix ($gray-700, $body-font, 0.85rem, 1.3, 500, none);
      i {
      color: $primary-color;  
      }  
    }    
  }
}

/* Comment box */
.card {
  &.eo-comment-box { 
  border-radius: 0;
  margin-bottom: 0em;
  padding: 1.25rem 1.25rem;
  background-color: $white;    
    .eo-comment-box-user-thumb {

    }
    .eo-comment-form-textarea {
    display: inline-block;
    position: relative;
      textarea {
      height: auto;
      text-align: left;
      padding: 0.5em 4em 0.5em 1em;
      border: 1px solid $gray-400;
      border-radius: 0.25em;
      background-color: $white;
      -webkit-box-shadow: none;
      box-shadow: none;
      resize: vertical; 
      margin-bottom: 0; 
      @include font-mix ($gray-600, $body-font, 0.85rem, 1.3, 400, none);  
        @media (min-width: 576px) {
        width: 28em; 
        }
        @media (min-width: 768px) {
        width: 40em;  
        }
        @media (min-width: 992px) {
        width: 25em; 
        }
        @media (min-width: 1200px) {
        width: 30em;
        }        
        &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;    
        border: 1px solid $primary-color;
        background-color: $white;
        }          
      }
      .eo-comment-form-textarea-icon {
      position: absolute;
      right: 0.5em;
      bottom: 0.75em;
      color: #ced4da;
      font-size: 1.25em;
        @media (min-width: 576px) {

        }
        @media (min-width: 768px) {

        }
        @media (min-width: 992px) {

        }
        @media (min-width: 1200px) {
        right: 0.5em;
        bottom: 0.4em;
        font-size: 1.65em;
        } 

      }        
    }
  }
}

/* Load more posts */

.eo-load-more-posts {
  .eo-btn-load-more {
  background-color: $gray-400;
  padding: .6rem .75rem;  
  @include border-radius (50%);
    i {
    color: $white;
      &:hover,
      &:focus,
      &:active {
      color: $primary-color;  
      }  
    }
  }
}